<!DOCTYPE html>
<html><%
from vps.config import UI
def t(key, *args):
    return UI.translate(lang, key, *args)
%>
<head>
    <title>${t('system_name')} - ${t('company_name')}</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/notification.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/shiroyuki.min.js"></script>
    <script type="text/javascript" src="/js/admin.min.js"></script>
    <script type="text/javascript">
        var lang = "${lang}";
    </script>
</head>
<body>
    <div id="header">
        <div class="company">${t('company_name')}</div>
        <div class="navi">
            <strong>${email}</strong>
            |
            % if lang == "en":
            <a href="/admin/th">ภาษาไทย</a>
            % else:
            <a href="/admin/en">English</a>
            % endif
            <!--
            |
            <a href="/_ah/admin">Low-level console</a>
            -->
            |
            <a href="http://shiroyuki.com/c/vps-website-for-admin/index" target="_blank">Help</a>
            |
            <a href="${logout_url}">${t('logout')}</a>
        </div>
    </div>
    <div id="content"
         % if not enable_extra:
         class="no-extra"
         % endif
    >
        % if enable_extra:
        <h1>
            ${t('system_name')}
            <a data-id="pc" class="selected">${t('products')}</a>
            <a data-id="mc">${t('materials_colors')}</a>
        </h1>
        % endif
        <div class="pc layout column2x">
            <div class="column categories">
                <h2>${t('categories')}</h2>
                <div class="commands">
                    <a class="add_category">+</a>
                    <a class="edit_category">✎</a>
                </div>
                <ul id="categories" class="items"></ul>
            </div><div class="column products">
                <h2>${t('products')} <span></span></h2>
                <div class="commands">
                    <a class="add_product">+</a>
                </div>
                <ul id="products" class="items"></ul>
            </div>
        </div>
        % if enable_extra:
        <div class="mc layout column2x">
            <div class="column materials">
                <h2>${t('materials')}</h2>
                <div class="commands">
                    <a class="add_material">+</a>
                </div>
                <ul id="materials" class="items"></ul>
            </div><div class="column colors">
                <h2>${t('colors')}</h2>
                <div class="commands">
                    <a class="add_color">+</a>
                </div>
                <ul id="colors" class="items"></ul>
            </div>
        </div>
        % endif
    </div>
    <div id="dialog" class="hidden">
        % if enable_extra:
        <div class="color-prompt">
            <h2 class="new">${t('add_new_color')}</h2>
            <h2 class="edit">${t('edit_color')}</h2>
            <form action="/admin/s/color" method="post" target="color" enctype="multipart/form-data">
                <div class="layout column2x">
                    <p class="column">
                        <label>Name of color (English)</label><br/>
                        <input type="text" name="en"/>
                    </p>
                    <p class="column">
                        <label>ชื่อของสี (ภาษาไทย)</label><br/>
                        <input type="text" name="th"/>
                    </p>
                    <p class="column">
                        <label>${t('color_sample')}</label><br/>
                        <input type="file" name="uploaded_content"/>
                    </p>
                    <p class="column sample"></p>
                </div>
                <p class="buttons">
                    <button type="submit">${t('button_register')}</button>
                    <button type="reset">${t('button_cancel')}</button>
                </p>
            </form>
            <iframe name="color" style="display: none; width: 100%; height: 200px;"></iframe>
        </div>
        <div class="material-prompt">
            <h2 class="new">${t('add_new_material')}</h2>
            <h2 class="edit">${t('edit_material')}</h2>
            <form action="/admin/m/" method="post" data-action="/admin/m/" class="layout column2x">
                <p class="column">
                    <input type="text" name="en" placeholder="English" />
                </p><p class="column">
                    <input type="text" name="th" placeholder="ภาษาไทย" />
                </p>
                <p class="buttons">
                    <button type="submit" class="new">${t('button_register')}</button>
                    <button type="submit" class="edit">${t('button_update')}</button>
                    <button type="reset">${t('button_cancel')}</button>
                </p>
            </form>
        </div>
        % endif
        <div class="category-prompt">
            <h2 class="new">${t('add_new_category')}</h2>
            <h2 class="edit">${t('edit_category')}</h2>
            <form action="/admin/c/" method="post" data-action="/admin/c/">
                <p>
                    <input type="text" name="en" placeholder="English" />
                </p><p>
                    <input type="text" name="th" placeholder="ภาษาไทย" />
                </p>
                <p class="color"></p>
                <p class="buttons">
                    <button type="submit" class="new">${t('button_register')}</button>
                    <button type="submit" class="edit">${t('button_update')}</button>
                    <button type="reset">${t('button_cancel')}</button>
                </p>
            </form>
        </div>
        <div class="product-prompt">
            <h2 class="new">${t('add_new_product')}</h2>
            <h2 class="edit">${t('edit_product')}</h2>
            <form action="/admin/p/" method="post" data-action="/admin/p/">
                <p>
                    <label for="p_code">Article No.</label><br/>
                    <input type="text" name="code" id="p_code" />
                </p>
                <p>
                    <label for="p_cat">${t('in_category')}</label> <select name="cat" id="p_cat" class="available-categories"></select>
                </p>
                <p class="buttons">
                    <button type="submit" class="new">${t('button_register')}</button>
                    <button type="submit" class="edit">${t('button_update')}</button>
                    <button type="reset">&times;</button>
                </p>
            </form>
            <div class="only-for-update">
                % if enable_extra:
                <div class="tabs">
                    <a data-id="photos" class="selected">Product photos</a>
                    <a data-id="variations">Variations</a>
                    <a data-id="colors">Colors</a>
                </div>
                % endif
                <div class="tab-body" data-id="photos">
                    <ul class="photos"></ul>
                    <form action="/admin/s/product" method="post" target="uploader" class="uploader" enctype="multipart/form-data">
                        <p>
                            <input type="hidden" name="key" value=""/>
                            <label>${t('upload_photo')}</label><br/>
                            <input type="file" name="uploaded_content"/>
                            <button type="submit">+</button>
                        </p>
                    </form>
                    <iframe name="uploader" style="display: none;"></iframe>
                </div>
                % if enable_extra:
                <div class="tab-body" data-id="variations">
                    <h3>Existed Variations</h3>
                    <div id="variations-outer">
                        <table cellpadding="0" cellspacing="0" border="0" id="variations"></table>
                    </div>
                    <h3>New Variations</h3>
                    <form action="/admin/v/" method="post" class="variation" data-action="/admin/v/">
                        <div class="layout column3x">
                            <p class="column">
                                <label for="v_en">Description (English)</label><br/>
                                <input type="text" name="en" id="v_en" />
                            </p>
                            <p class="column">
                                <label for="v_th">รายละเอียด (ภาษาไทย)</label><br/>
                                <input type="text" name="th" id="v_th" />
                            </p>
                            <p class="column">
                                <label for="v_size">${t('size')}</label><br/>
                                <input type="text" name="size" id="v_size" />
                            </p>
                        </div>
                        <div>
                            <label>${t('materials')}</label>
                            <ul class="available-materials"></ul>
                            <input type="hidden" name="materials"/>
                        </div>
                        <p class="commands">
                            <button type="submit">${t('button_register')}</button>
                            <button type="reset">${t('button_cancel')}</button>
                        </p>
                    </form>
                </div>
                <div class="tab-body" data-id="colors">
                    <form action="/admin/p/" method="post" class="colors" data-action="/admin/p/">
                        <ul class="available-colors">asd</ul>
                        <input type="hidden" name="colors"/>
                        <p class="commands">
                            <button type="submit">${t('button_update')}</button>
                            <button type="reset">${t('button_cancel')}</button>
                        </p>
                    </form>
                </div>
                %endif
            </div>
        </div>
    </div>
    <div id="footer">
        <p>
            Powered by
            <a target="_blank" href="http://code.google.com/appengine">Google App Engine</a>,
            <a target="_blank" href="http://python.org">Python</a>,
            <a target="_blank" href="http://cherrypy.org">CherryPy</a> and
            <a target="_blank" href="http://yotsuba.shiroyuki.com">Yotsuba</a>
            Developed and maintained by <a href="http://shiroyuki.com">Juti Noppornpitak</a>.
        </p>
        <p>
            Currently require at least Safari 5, Chrome 8 or Firefox 4 to work properly.
        </p>
    </div>
</body>
</html>