<!DOCTYPE html>
<html><%
from yotsuba.lib.tori import settings
from vps.config import UI
resource_domain = settings['backup_domain']
def t(key, *args):
    return UI.translate(lang, key, *args)
%>
<head>
    <title>${page_title} - ${t('website_name')}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="${resource_domain}/css/base.css" type="text/css" />
    <link rel="stylesheet" href="${resource_domain}/css/vps.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="${resource_domain}/js/shiroyuki.min.js"></script>
</head>
<body class="${lang}">
    <div id="container" class="${page_code}">
        <div id="header">
            <div id="brand"><img src="${resource_domain}/image/header-logo.png" title="ICON Hardware by VPS Manufacturing" alt="ICON Hardware by VPS Manufacturing"/></div>
            <ul id="navi">
                <li class="index"><a href="/${lang}/">Company</a></li>
                <li class="products"><a href="/${lang}/products">Products</a></li>
                <li class="contact"><a href="/${lang}/contact">Contact</a></li>
            </ul>
        </div>
        <div id="content">${next.body()}</div>
    </div>
    <div id="container-footer" class="${page_code}">
        <div id="footer">
            <ul id="navi-footer">
                <li><a href="/${lang}/">${t('navi_about')}</a></li>
                <li><a href="/${lang}/">${t('navi_products')}</a></li>
                <li><a href="/${lang}/">${t('navi_contact')}</a></li>
                <li><a href="http://shiroyuki.com/c/notes/about-site/vps-mfc">?</a></li>
            </ul>
            <p>
                VPS Manufacturing Co., Ltd.
                <a href="${path_info}">→
                    % if lang == "en":
                        This page in Thai.
                    % else:
                        หน้านี้ในภาษาอังกฤษ
                    % endif
                </a>
                <span>
                    Web design and development by
                    <a href="http://shiroyuki.com/" target="_blank">Juti Noppornpital</a>.
                </span>
            </p>
        </div>
        <div id="html5-logo">
	        <a href="http://www.w3.org/html/logo/"><img
                    src="http://www.w3.org/html/logo/badge/html5-badge-v-css3-performance-semantics.png"
                    width="38" height="170"
                    alt="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics"
                    title="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics"
                ></a>
        </div>
    </div>
    <!-- Google Analytics: Begin -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2625743-8']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- Google Analytics: End -->
</body>
</html>