<!DOCTYPE html>
<html><%
from vps.config import UI
def t(key, *args):
    return UI.translate(lang, key, *args)
%>
<head>
    <title>${t('company_name')}</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://shiroyuki.com/js/shiroyuki.js"></script>
    -->
</head>
<body>
    <div id="header">
        <div class="company">${t('company_name')}</div>
        <div class="navi">
            <a href="${logout_url}">${t('logout')}</a>
        </div>
    </div>
    <div id="content">
        <h1>${t('e401_short')}</h1>
        <p>${t('e401_long')}</p>
    </div>
    <div id="footer">
        <p>
            Powered by
            <a target="_blank" href="http://code.google.com/appengine">Google App Engine</a>,
            <a target="_blank" href="http://python.org">Python</a>,
            <a target="_blank" href="http://cherrypy.org">CherryPy</a> and
            <a target="_blank" href="http://yotsuba.shiroyuki.com">Yotsuba</a>
            Developed and maintained by <a href="http://shiroyuki.com">Juti Noppornpitak</a>.
        </p>
        <p>
            Currently require at least Safari 5, Chrome 8 or Firefox 4 to work properly.
        </p>
    </div>
</body>
</html>