<%inherit file="base.html"/>
<h1 class="use_neuton">Contact<span> the company</span></h1>

<p class="focus"><img src="/image/contact-focus.jpg"/></p>

<p class="large-font">VPS Manufacturing Co., Ltd.</p>

<p>
    45, Chan 43 Yak 27, Tung Wat Don, Sathorn, Bangkok 10120, Thailand
</p>

<p class="tel">
    <strong><img src="/icon/black/phone.png"/> Tel:</strong>       02-211-2678<br/>
    <strong><img src="/icon/black/mobile.png"/> Mobile:</strong>   085-445-2424<br/>
    <strong><img src="/icon/black/next-item.png"/> Fax:</strong>   02-212-1386<br/>
    <strong><img src="/icon/black/email.png"/> E-mail:</strong>    <a href="mailto:sales@iconhardware.com" class="email">sales@iconhardware.com</a>
</p>