<%inherit file="base.html"/>
<h1>
    An introduction to <span class="no-transformation">VPS</span>,
    the creator of <span class="no-transformation">ICON</span>
</h1>
<p class="focus"><img src="/image/about-focus.jpg"/></p>
<div class="layout column3x">
    <div class="column">
        <p>
            <b>VPS manufacturing Co., Ltd.</b> is one of the most competitive hardware manufacturers in
            Thailand with trusted clients from the United States, Europe, Asia, as well as Middle
            East. VPS specializes in furniture hardware such as bolts, knobs, handles, hinges, and
            cylinder locks for our brand. We also license ICON original hardware, ECO, and Crocodile
            Super Steel. We provide OEM service which drives down the cost of production through
        </p>
    </div>
    <div class="column">
        <p>
            economies of scale. Clients are assured of the high quality made to order products at
            very competitive prices. All of our products are made from premium materials with
            advanced manufacturing technology and precision. VPS has provided elegant and durable
            products for over 10 years. Our experience and professionalism in the industry can
            definitely serve you best!
        </p>
    </div>
    <div class="column">
        <p><img src="/image/logo-strip.jpg"/></p>
    </div>
</div>