<!DOCTYPE html>
<html><%
from vps.config import UI
def t(key, *args):
    return UI.translate(lang, key, *args)
%>
<head>
    <title>${t('website_name')}</title>
    <!--
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    -->
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
</head>
<body class="${lang}">
    <div id="bg4" class="bgi"></div>
    <div id="bg3" class="bgi"></div>
    <div id="bg2" class="bgi"></div>
    <div id="bg1" class="bgi"></div>
    <div id="container">
        <div id="header">
            <div id="brand"><img src="/image/header-logo.png" title="ICON Hardware by VPS Manufacturing" alt="ICON Hardware by VPS Manufacturing"/></div>
            <ul id="navi">
                <li class="index"><a href="/${lang}/">Company</a></li>
                <li class="products"><a href="/${lang}/products">Products</a></li>
                <li class="contact"><a href="/${lang}/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div id="container-footer">
        <div id="footer">
            <p>
                <span class="company">VPS Manufacturing Co., Ltd.</span>
                <span class="credit">
                    Web design and development by
                    <a href="http://shiroyuki.com/" target="_blank">Juti Noppornpitak</a>. Illustration by Atthapol Noppornpitak.
                </span>
            </p>
        </div>
        <div id="html5-logo">
	        <a href="http://www.w3.org/html/logo/"><img
                    src="http://www.w3.org/html/logo/badge/html5-badge-v-css3-performance-semantics.png"
                    width="38" height="170"
                    alt="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics"
                    title="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics"
                ></a>
        </div>
    </div>
    <!-- Google Analytics: Begin -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2625743-8']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <!-- Google Analytics: End -->
    <script type="text/javascript">
        
        window.onload = function() {
            $("#bg3").fadeIn(500);
            $("#bg2").fadeIn(1000);
            $("#bg1").fadeIn(1500);
        }
        
        $(document).ready(function() {
            $(window).resize(function(e) {
                var ratio = ($(".bgi:visible").width() + $(".bgi:visible").position().top) / $(".bgi").height();
                if (ratio > 1.76) {
                    $(".bgi:visible").removeClass('height-priority');
                } else {
                    $(".bgi:visible").addClass('height-priority');
                }
            });
            $(window).resize();
            
            //init_animation();
            //start_animation();
        });
    </script>
</body>
</html>