<%
from yotsuba.lib.tori import settings
from vps.config import UI
cache_resource_domain = "%s/%s" % (settings['image_caching_api'], settings['backup_domain'])
resource_domain = settings['backup_domain']
def t(key, *args):
    return UI.translate(lang, key, *args)

%>
<%inherit file="base.html"/>
<div class="focus"><img src="${resource_domain}/image/product-focus.jpg"/></div>
<form action="/${lang}/products" class="search">
    <label for="q">${t('search_l1')}</label>
    <input type="text" name="q" id="q" placeholder="..." size="40" />
</form>
<h1>
    ${t('products')}
    % if category:
        / <a href="/${lang}/products/${cat_ident}" style="color: ${category.color}">${category.name(lang)}</a>
    % elif query:
        / <span> filtered by "${query}"</span>
    % endif
</h1>
% if (query or category) and (products or product):
    <ul id="categories">
        <li class="header">${t('categories')}</li>
        % for c in categories:
            <%
            extra = cat_ident == c.ident and ' class="selected" style="background-color: ' + c.color + ';"' or ''
            %>
            <li style="border-left-color: ${c.color};">
                <a href="/${lang}/products/${c.ident}"${extra}>${c.name(lang)}</a>
            </li>
        % endfor
    </ul>
    <div id="previewer">
        % if status == 404:
            <p class="large-font">File not found</p>
        % elif status == 410:
            <p class="large-font">${t('prod_moved')} <a href="/${lang}/products/${product.cat.ident}/${product.ident}">${product.code} →</a></p>
        % elif products:
            <ul id="products">
                % for p in products:
                    <li class="product">
                        <a href="/${lang}/products/${p.cat.ident}/${p.ident}">
                            % if p.photos:
                                <span class="image"><img height="150" src="${resource_domain}/admin/s/${p.photos[0]}"/></span>
                            % else:
                                <span class="image"></span>
                            % endif
                            <span>${p.code}</span>
                        </a>
                    </li>
                % endfor
            </ul>
        % elif product:
            <div id="product"
                % if not enable_extra:
                class="no-extra"
                % endif
            >
                <h2>
                    <span class="static">Product information <span class="for">for</span>
                    </span><span class="name" style="background-color: ${category.color};">${product.code}<span>
                </h2>
                <div class="layout
                    % if enable_extra:
                    column2x
                    % endif
                    "
                >
                    <div class="first-photo column">
                        % if product.photos:
                        <a target="_blank" href="/admin/s/${product.photos[0]}"><img data-photo-id="${product.photos[0]}" src="/admin/s/${product.photos[0]}"/></a>
                        % endif
                    </div>
                    % if enable_extra:
                    <div class="column vc">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <th>Description</th>
                                <th>Size</th>
                                <th>Materials</th>
                            </tr>
                            % for v in product.get_variations():
                            <tr>
                                <td>${v.name(lang)}</td>
                                <td>${v.size}</td>
                                <td>${v.get_materials(lang)}</td>
                            </tr>
                            % endfor
                        </table>
                        <ul>
                            % for cl in product.get_colors():
                            <li><span><img src="${resource_domain}/admin/s/${cl.photo.id()}"/></span>${cl.name(lang)}</li>
                            % endfor
                        </ul>
                    </div>
                    % endif
                </div>
                % if product.photos and len(product.photos) > 1:
                <ul class="photos">
                    % for photo_id in product.photos[1:]:
                        <li><a href="/admin/s/${photo_id}" target="_blank"><img data-photo-id="${photo_id}" src="/admin/s/${photo_id}"/></a></li>
                    % endfor
                </ul>
                <div class="all-photos hidden">
                    <div class="header">
                        <div class="inst">
                            Press <strong>Esc</strong> to exit from or re-enter to the gallery mode.
                            Press <strong>left</strong> or <strong>right</strong> to navigate.
                        </div>
                    </div>
                    <div class="display">
                        <img src="${resource_domain}/admin/s/${product.photos[0]}"/></a>
                    </div>
                    <div class="thumbnails">
                    % for photo_id in product.photos:
                        <img src="${resource_domain}/admin/s/${photo_id}"/>
                    % endfor
                    </div>
                </div>
                % endif
                <p>
                    <a href="/${lang}/products/${cat_ident}">← Other products in ${category.name(lang)}</a>
                </p>
            </div>
        % else:
            <p class="large-font">Cannot comprehence your request.</p>
        % endif
    </div>
% else:
    % if (query or category) and not products:
        <p class="large-font">
            % if query:
                ${t('has_no_search_result')}
            % else:
                % if status == 404:
                    ${t('prod_not_existed')}
                    <br/><br/><br/><br/>
                % else:
                    ${t('has_no_prod')}
                % endif
            % endif
        </p>
    % else:
        <p class="large-font">${t('get_started')}</p>
    % endif
    % if categories:
    <ul id="categories" class="get-started">
        % for c in categories:
            <li>
                <a href="/${lang}/products/${c.ident}" style="background-image: url('${resource_domain}/image/product-cat-${c.ident}.jpg')">
                    <span style="background-color: ${c.color};">${c.name(lang)}</span>
                </a>
            </li>
        % endfor
    </ul>
    % else:
    <p>
        The data is not available at the moment. Please try to visit again next few days.
    </p>
    % endif
% endif

<script type="text/javascript" src="${resource_domain}/js/vps-product.min.js"></script>