<%inherit file="base.html"/>
<h1 class="use_neuton">ติดต่อ<span>บริษัท</span></h1>

<p class="focus"><img src="/image/contact-focus.jpg"/></p>

<p class="large-font">บริษัท วี.พี.เอส แมนูแฟคเจอริ่ง จำกัด</p>

<p>
    45 ถนนจันทร์ 43 แยก 27 ทุ่งวัดดอน สาธร กรุงเทพมหานคร 10120
</p>

<p class="tel">
    <strong><img src="/icon/black/phone.png"/> โทรศัพท์:</strong>       02-211-2678<br/>
    <strong><img src="/icon/black/mobile.png"/> มือถือ:</strong>        085-445-2424<br/>
    <strong><img src="/icon/black/next-item.png"/> โทรสาร:</strong>   02-212-1386<br/>
    <strong><img src="/icon/black/email.png"/> อีเมล์:</strong>         <a href="mailto:sales@iconhardware.com" class="email">sales@iconhardware.com</a>
</p>