<%inherit file="base.html"/>
<h1>
    กล่าวแนะนำ <span class="no-transformation">VPS</span>,
    ผู้สร้างสรรค์ <span class="no-transformation">ICON</span>
</h1>
<p class="focus"><img src="/image/about-focus.jpg"/></p>
<div class="layout column3x">
    <div class="column">
        <p>
            <b>บริษัท วี.พี.เอส แมนูแฟคเจอริ่ง จำกัด</b>
            เป็นผู้นำด้านการผลิตสินค้าประเภทเฟอร์นิเจอร์ฮาร์ดแวร์ไทยที่ลูกค้าในทวีปอเมริกา
            ยุโรป เอเชีย และตะวันออกกลางให้ความเชื่อถือ เรามีความชำนาญในการผลิตกลอนประตู
            บานพับ มือจับ ปุ่มจับ และ ชุดลูกบิดประตู ภายใต้เครื่องหมายการค้า ICON Original
            Hardware, ECO และ Crocodile Super Steel
        </p>
    </div>
    <div class="column">
        <p>
            เรายังให้บริการรับสั่งผลิต (Made to Order)
            ลูกค้าสามารถมั่นในคุณภาพสินค้าและความทนทานของผลิตภัณฑ์เราซึ่งทำจากวัตถุดิบชั้นเยี่ยม
            ผ่านกระบวนการเทคโนโลยีที่ทันสมัย โดยสุดยอดฝีมือที่มีความเป็นมืออาชีพในอุตสาหกรรมด้วยประสบการณ์กว่า
            10 ปี เพราะเป้าหมายสูงสุดของ วี.พี.เอส คือ
            ตอบสนองความต้องการข้องผู้บริโภคด้วยคุณภาพสินค้าที่เป็นเลิศในราคาที่คุณพึงพอใจ
        </p>
    </div>
    <div class="column">
        <p><img src="/image/logo-strip.jpg"/></p>
    </div>
</div>