<!DOCTYPE html>
<html><%
from vps.config import UI
def t(key, *args):
    return UI.translate('en', key, *args)
%>
<head>
    <title>${t('system_name')} - ${t('company_name')}</title>
    <script type="text/javascript">
        % if status_code == 200:
            % if kind == "product":
                parent.load_product_images();
                msg = 'Product information updated';
            % else:
                parent.load_colors();
                parent.hide_dialog();
                msg = 'Color information updated';
            % endif
            parent.shiroyuki.notifier.post(msg, 'ok', 5);
        % else:
            parent.shiroyuki.notifier.post('Temporarily out of service. Try again. (HTTP-${status_code})', 'error', 5);
        % endif
    </script>
</head>
<body>
    ${kind} - ${status_code}<br/>
    <img src="/admin/s/${binary.id()}"/>
</body>
</html>