body {
    width: 920px;
    margin: 0 auto;
}

iframe {
    background-color: white;
}

select, option {
    font-size: 16px;
}

input {
    padding: 3px;
    border: 2px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

input:hover {
    border: 2px solid #ddd;
}

input:focus {
    border: 2px solid #ddd;
    background-color: #fff;
    cursor: text;
}

button {
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 2px;
}

#footer {
    color: #999;
    padding-top: 50px;
    text-align: center;
}

#header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

#header .company {}

#header .navi {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
}

/* Content */

/* [Content > Header] */
#content h1 {
    border-bottom: 1px solid #ddd;
}

#content h1 a {
    display: inline-block;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: -1px;
    font-weight: normal;
    color: #999;
    cursor: pointer;
}

#content h1 a.selected {
    color: #6699cc;
    border-bottom-color: #fff;
}

/* [Content > layout] */
#content .column h2 span {
    color: #999;
}

#content .column .commands > a {
    cursor: pointer;
    display: inline-block;
    color: #ccc;
    margin: 0 0 0 5px;
    font-size: 24px;
}

#content .column .commands > a:hover {
    color: #000;
}

#content.no-extra .layout .column.categories {
    width: 30%;
}

#content.no-extra .layout .column.products {
    width: 65%;
}

/* Content > form *************************************************************/
#content form input {
    margin: 0;
}

#content form input[type="file"] {
    width: 60%;
}

#content form button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    border-width: 2px;
    margin: 0;
}

/* [General Item List] */
ul.items {
    margin: 0;
    padding: 0;
}

ul.items li {
    position: relative;
    display: block;
    border-top: 1px solid #eee;
}

ul.items li a {
    cursor: pointer;
}

ul.items li a.show {
    cursor: pointer;
    display: block;
    color: #000;
    padding: 5px;
}

ul.items li a.show img {
    width: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

ul.items li a.show span.img-rpm {
    display: inline-block;
    width: 50px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #ddd;
    color: #eee;
    padding: 5px;
}

ul.items li a.show span {
    display: inline-block;
}

ul.items li a.show:hover {
    background-color: #000;
    color: #fff;
}

ul.items li a.delete {
    z-index: 2;
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 20px;
    padding: 0 5px;
    color: red;
}

ul.items li a.delete:hover {
    color: white;
    background-color: red;
}

ul.items li:hover a.delete {
    display: block;
}

ul.items li.selected a.show {
    background-color: #000;
    color: #fff;
}

ul.items li.empty {
    font-size: 24px;
    color: #ddd;
    padding: 5px;
}

/* [Dialog] */
#dialog {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    background-color: rgba(0,0,0,0.5);
    width: auto !important;
    overflow: auto;
}

#dialog > div {
    width: 700px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#dialog > div > h2 {
    border-bottom: 1px solid #333;
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

#dialog > div > form,
#dialog > div > .only-for-update {
    padding: 5px 10px 10px 10px;
}

#dialog > div form label {
    color: #666;
}

#dialog .only-for-update .tabs {
    background-color: #000;
    margin: -5px -10px 10px -10px;
    padding: 0 10px;
}

#dialog .only-for-update .tabs a {
    display: inline-block;
    cursor: pointer;
    color: #666;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #222;
}

#dialog .only-for-update .tabs a:hover {
    background-color: #333;
}

#dialog .only-for-update .tabs a.selected {
    background-color: #eee;
    color: #000;
}

#dialog .only-for-update input {
    background-color: #fff;
}

#dialog .only-for-update input[type="file"] {
    width: 70%;
}

#dialog .only-for-update > div {
}

#dialog form .buttons {
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* [Dialog > Color] */
.color-prompt input {
    width: 95%;
}

.color-prompt .sample {
    text-align: left;
    min-height: 60px;
}

.color-prompt .sample:empty {
    background-image: url('/image/hl-bg.png');
    background-color: #222;
}

.color-prompt .sample:empty:after {
    content: "Please upload something...";
    color: #fff;
}

.color-prompt .sample img {
    width: 99%;
    border: 1px solid #fff;
}

/* [Dialog > Material] */
.material-prompt input {
    width: 95%;
}

/* [Dialog > Category] */
.category-prompt {}

.category-prompt input {
    width: 95%;
}

.category-prompt .color {
    text-align: center;
}

.category-prompt .color a {
    -o-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 2px 0;
    opacity: 0.3;
    border-radius: 16px;
    -moz-border-radius: 16px;
}

.category-prompt .color a:hover {
    margin: 0 5px 0 0;
    opacity: 0.6;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

.category-prompt .color a.selected {
    margin: 0 5px 0 0;
    opacity: 1.0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

/* [Dialog > Product] */
.product-prompt {}

.product-prompt input {
    width: 95%;
}

.product-prompt .photos {
    overflow: auto;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: #ddd;
    max-height: 100px;
    border: 1px solid #fff;
    background-image: url('/image/hl-bg.png');
}

.product-prompt .photos:empty {
    padding: 5px;
}

.product-prompt .photos:empty:after {
    content: "No photo available here";
    color: white;
}

.product-prompt .photos li {
    float: left;
    display: block;
    overflow: hidden;
    max-height: 50px;
    padding: 0;
    margin: 0;
}

.product-prompt .photos li img {
    height: 50px;
    padding: 0;
    margin: 0;
}

.product-prompt .only-for-update {
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

.product-prompt .available-materials,
.product-prompt .available-colors {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-prompt .available-materials li {
    white-space: nowrap;
    display: inline-block;
    padding: 2px 5px;
    color: #666;
    border: 2px solid #ddd;
    background-color: #fff;
    margin: 0 2px 2px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

.product-prompt .available-materials li.selected {
    border-color: #ff9900;
}

.product-prompt .available-colors li {
    white-space: nowrap;
    display: inline-block;
    padding: 2px 5px;
    color: #666;
    border: 2px solid #ddd;
    background-color: #fff;
    margin: 0 2px 2px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}

.product-prompt .available-colors li span {
    display: inline-block;
}

.product-prompt .available-colors li span.image {
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
}

.product-prompt .available-colors li span.image img {
    height: 30px;
    vertical-align: middle;
}

.product-prompt .available-colors li.selected {
    border-color: #ff9900;
}

#variations-outer {
    max-height: 150px;
    overflow: auto;
    border: 2px solid white;
}

#variations {
    width: 100%;
}

#variations th {
    border-bottom: 1px solid #ccc;
    color: #999;
    text-align: left;
    font-weight: normal;
    padding: 0px 5px;
}

#variations td {
    border-bottom: 1px solid #ddd;
    padding: 2px 5px;
    width: 25%;
}

#variations td.size {
    width: auto;
}

#variations td.commands {
    width: 5%;
}

#variations td.commands a.delete {
    cursor: pointer;
    color: #000;
}

#variations td.commands a.delete:hover {
    color: red;
}