@charset 'utf-8';

* {
    outline: none;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    padding: 30px 10px 5px 10px;
    margin: 0;
    min-width: 960px;
    
}

p {
    padding: 0;
    margin: 13px 0;
}

img {
    border: none;
}

hr {
    border: 1px dashed #ddd;
    border-bottom: none;
    height: 0;
}

input, button, textarea, select {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a {
    color: #1292FA;
}

a:hover {
    color: #ff6600;
}

ul {
    padding-left: 20px;
}

/* Common classes */
.large-font {
    font-size: 18px;
}

/* In-line dropdown menu */
/* [Button > HTML Dropdown Menu] */
.options {
    cursor: pointer;
    text-decoration: none;
}

.options:after {
    content: " ▼ ";
    color: #999;
}

.options + ul {
    display: none;
    margin: 0;
    padding:0;
}

.options.selected {
    color: #000;
}

.options.selected:after {
    content: " ▼ ";
    color: #ff9900;
}

.options.selected + ul {
    display: block;
    position: absolute;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.options.selected + ul li {}

.options.selected + ul li a {
    cursor: pointer;
    display: block;
    color: #fff;
    padding: 5px 10px;
    background-color: #333;
}

.options.selected + ul li a:hover {
    background-color: #216598;
}

.options.selected + ul li a.selected {
    background-color: #ff9900;
}

.options.selected + ul li:first-child a {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.options.selected + ul li:last-child a {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* [Button] */
button, .button {
    cursor: default;
    padding: 3px 10px;
    border: 1px solid #bbb;
    color: #333;
    text-decoration: none;
    background: #fff;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dddddd');
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ddd));
    background: -moz-linear-gradient(top,  #fefefe,  #ddd);
    
    border-radius: 3px;
    -moz-border-radius: 3px;
}

button:focus, .button:focus,
button:hover, .button:hover {
    border-color:#99ccff;
    background: #fff;
    color: #000;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede');
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedede));
    background: -moz-linear-gradient(top,  #fff,  #dedede);
}

button:active, .button:active {
    background: #666;
    border-color: #666;
    color: #fff;
}

button.disabled,
.button.disabled {
    color: #999;
}

button.selected,
.button.selected {
    color: #fff;
    background: #333;
    border-color: #333;
}

/* [Button + HTML Dropdown Menu] */
button.options, .button.options {
    /*padding-left: 5px;*/
}

button.options:after, .button.options:after {
    content: " ▼ ";
    color: #999;
}

button.options + ul,
.button.options + ul {
    display: none;
}

button.options.selected,
.button.options.selected {
    color: #999;
    -moz-border-radius-bottomleft: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

button.options.selected:after,
.button.options.selected:after {
    content: " ▼ ";
    color: #ff9900;
}

button.options.selected + ul,
.button.options.selected + ul {
    display: block;
    position: absolute;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.options.selected + ul li,
.button.options.selected + ul li {}

button.options.selected + ul li a,
.button.options.selected + ul li a {
    cursor: default;
    display: block;
    color: #fff;
    padding: 5px 10px;
    background-color: #333;
}

button.options.selected + ul li a:hover,
.button.options.selected + ul li a:hover {
    background-color: #216598;
}

button.options.selected + ul li a.selected,
.button.options.selected + ul li a.selected {
    background-color: #ff9900;
}

button.options.selected + ul li:first-child a,
.button.options.selected + ul li:first-child a {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button.options.selected + ul li:last-child a,
.button.options.selected + ul li:last-child a {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* [Widget: Command list] */
.w-command-list{
    overflow: hidden;
}

.w-command-list > .w-commands {
    float: left;
    padding-left: 10px;
}

.w-command-list > .w-commands:first-child {
    padding-left: 0px;
}

.w-commands {
    overflow: hidden;
}

.w-commands > button,
.w-commands > .button {
    float: left;
    display: block;
    padding: 5px 10px 5px 11px;
    border-left-width: 0px;
    border-radius: 0;
    -moz-border-radius: 0;
}

.w-commands > button:hover,
.w-commands > .button:hover {
    padding: 5px 10px 5px 10px;
    border-left-width: 1px;
}

.w-commands > button:first-child,
.w-commands > .button:first-child {
    padding: 5px 10px 5px 10px;
    border-left-width: 1px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.w-commands > button:last-child,
.w-commands > .button:last-child,
.w-commands > button.last,
.w-commands > .button.last {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* [Element states] */
.hidden {
    display: none !important;
}

/* [Layout] */
.layout {
    display: block;
    overflow: hidden;
}

.layout .column {
    float: left;
}

.layout.column2x .column {
    width: 49%;
}

.layout.column2x .column:first-child {
    padding-right: 1%;
}

.layout.column2x .column:last-child {
    padding-left: 1%;
}

.layout.column3x .column {
    width: 31%;
    padding-left: 2%;
}

.layout.column3x .column:first-child {
    padding-left: 0;
}

.layout.column4x .column {
    width: 23%;
    padding-left: 2%;
}

.layout.column4x .column:first-child {
    padding-left: 0;
}