body {
    min-width: 0;
    font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}

.bgi {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    display: none;
}

.bgi.height-priority {
    background-size: auto 100% !important;
}

#bg1 {
    background-image: url('/image/index.jpg');
    border-top: 3px solid #ff9900;
}

#bg2 {
    background-image: url('/image/index-lt3.jpg');
}

#bg3 {
    background-image: url('/image/index-lt2.jpg');
}

#bg4 {
    display: block;
    background-image: url('/image/index-lt1.jpg');
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#brand {
    position: absolute;
    left: 20px;
    top: 10px;
}

#navi {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navi li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#navi li:before {
    font-size: 24px;
    content: " / ";
    color: #ddd;
}

#navi > li:first-child:before {
    content: "";
}

#navi li a {
    color: #ff9900;
    padding: 3px 6px;
    display: inline-block;
    text-transform: lowercase;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#navi li a:hover {
    background-color: #ff9900;
    color: #fff;
}

#container-footer {
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#container-footer #footer {
    float: right;
    margin: 5px;
    color: #fff;
}

#container-footer #footer p {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#container-footer #footer p span {
    float: left;
    display: inline-block;
    padding: 3px 6px;
    background-color: #000;
}

#container-footer #footer p span.company {
    background-color: #ff6600;
}

#html5-logo {
    display: none;
}