/* [Flash message] */
#notification {
    cursor: default;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #215498;
    font-weight: 700;
    color: #fff;
    opacity: 0.9;
    box-shadow: rgba(0,0,0,0.8) 0 0 5px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 5px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0 0 5px;
}

#notification:empty {
    padding: 0;
}

#notification.ok {
    background-color: #669933;
}

#notification.warning {
    background-color: #6699cc;
}

#notification.error {
    background-color: #cc0000;
}