body {
    background-color: #eee;
    padding: 0;
    font-family: 'Droid Sans', 'Arial', sans-serif;
}

#container {
    background-image: url('/image/body-bg.jpg');
    background-color: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#container-footer {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-bottom: 30px;
}

/* [Header] */
#header {
    width: 920px;
    position: relative;
    margin: 0 auto;
}

/* [Header > Brand] */
#brand {
}

/* [Header > Navi] */
#navi {
    position: absolute;
    bottom: -7px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
    overflow: hidden;
}

#navi li {
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    height: 40px;
    overflow: hidden;
    background-position: left top;
    background-repeat: no-repeat;
}

#navi li a {
    padding-top: 5px;
    text-decoration: none;
    color: #999;
    display: block;
    text-align: center;
    min-height: 40px;
    text-transform: lowercase;
    text-shadow: rgba(0,0,0,0.1) 0 0 5px;
}

#navi li a:hover {
    color: #000;
}

/* [Footer] */
#footer {
    width: 920px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    color: #999;
    font-size: 13px;
    background-color: transparent;
}

#footer p {
    margin: 0.5em 0;
    font-size: 14px;
    color: #666;
}

#footer p span {
    display: block;
    margin-top: 2px;
    font-size: 10px;
    color: #999;
}

#footer a {
    display: inline-block;
    color: #999;
    padding: 2px 5px;
    background-color: #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
    background-color: #888;
}

#html5-logo {
    -o-transition: all linear 100ms;
    -moz-transition: all linear 100ms;
    -webkit-transition: all linear 100ms;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    opacity: 0.1;
}

#html5-logo:hover {
    opacity: 0.5;
}

/* [Footer > Navi] */
#navi-footer {
    float: right;
    margin: 0.5em 0;
    padding: 0;
    list-style: none;
}

#navi-footer li {
    display: inline-block;
}

/* [Content] */
#content {
    color: #666;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 30px;
    border-top: 1px solid #eee;
}

#content h1 {
    color: #000;
    font-size: 30px;
    text-transform: lowercase;
}

#content h1 span {
    color: #ff9900;
}

#content h1 .no-transformation {
    text-transform: none;
}

/* [Index] */
#container.index #navi li.index {
    background-image: url('../image/navi-selected.png');
}

#container.index #navi li.index a {
    color: white;
}

#container.index #content {
    width: 820px;
    padding: 50px 50px 80px 50px;
}

#container.index #content p {
    line-height: 1.5em;
}

#container.index #content p.focus {
    margin:10px -50px;
}

#container.index #content .column3x .column {
	width: 330px;
	margin-right: 10px;
	padding-left: 0;
}

#container.index #content .column3x .column + .column {
	width: 330px;
	margin-right: 5px;
}

#container.index #content .column3x .column + .column + .column {
	width: 145px;
	margin-right: 0px;
}

/* [Contact] */
#container.contact #navi li.contact {
    background-image: url('../image/navi-selected.png');
}

#container.contact #navi li.contact a {
    color: white;
}

#container.contact #content {
    width: 480px;
    padding: 50px 220px 80px 220px;
}

#container.contact #content p.focus {
    margin: 10px -220px;
}

#container.contact #content p.tel strong {
    display: inline-block;
    width: 32px;
    font-size: 9px;
    vertical-align: middle;
}

#container.contact #content p.tel strong img {
    display: block;
}

/* [Products] */
#container.products #navi li.products {
    background-image: url('../image/navi-selected.png');
}

#container.products #navi li.products a {
    color: white;
}

#container.products #content {
    width: 920px;
    overflow: hidden;
}

#container.products h1 a {
    text-decoration: none;
}

/* [Products > Search] */
#container.products #content .search {
    padding: 20px 10px 5px 10px;
    margin: 0;
    float: right;
}

#container.products #content .search input {
    font-size: 14px;
}

/* [Products > Categories] */
#container.products #content #categories {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
}

#container.products #content #categories li {
    border-left-style: solid;
    border-left-width: 2px;
    margin-bottom: 1px;
    padding-left: 1px;
}

#container.products #content #categories li.header {
    color: #ccc;
    border-left: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 1px;
    padding: 2px 12px;
}

#container.products #content #categories a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #999;
    background-image: url('/image/hl-bg.png');
}

#container.products #content #categories a:hover {
    color: #333;
    background-color: #eee;
}

#container.products #content #categories a.selected {
    color: white;
    text-shadow: rgba(0,0,0,0.5) 0 0 5px;
    background-color: #666;
}

/* [Products > Categories (Get Started)] */
#container.products #content #categories.get-started {
    float: none;
    width: auto;
    overflow: hidden;
    padding: 10px 0 0 12px;
    border-top: 1px dashed #ddd;
}

#container.products #content #categories.get-started li {
    float: left;
    display: block;
    border-left: none;
    margin: 0 0 3px 3px;
}

#container.products #content #categories.get-started li a {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 18px;
    border: 1px solid #eee;
    width: 290px;
    height: 125px;
}

#container.products #content #categories.get-started li a:hover {
    border-color: #000;
}

#container.products #content #categories.get-started li a span {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 3px 10px 3px 28px;
    background-color: black;
    color: white;
    background-image: url('/image/icon-tag.png');
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-color: rgba(255,255,255,0.5);
    text-shadow: rgba(0,0,0,0.3) -1px -1px 1px;
    color: white;
}

/* [Products > Data] */
#container.products #content #previewer {
    width: 700px;
}

/* [Products > Data > Table] */
#prod-navi {
    color: #eee;
    padding-bottom: 1px;
    margin-bottom: 10px;
}

#prod-navi a {
	display: inline-block;
    padding: 3px 6px;
    font-size: 12px;
    background: #eee;
    color: #666;
    cursor: pointer;
    margin-right: 1px;
    margin-bottom: 5px;
    text-decoration: none;
}

#prod-navi a.selected {
	background-color: #000;
	color: #fff;
}

#prod-navi > a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#prod-navi > a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#products {
    list-style: none;
    margin: 0;
    padding: 0;
}

#products li {
    display: inline-block;
}

#products li a {
    text-decoration: none;
    display: inline-block;
    width: 150px;
    padding: 5px;
    margin: 0 5px 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#products li a:hover {
    background-color: #eee;
    border: 1px solid #ccc;
}

#products li a span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

#products li a span.image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-image: url('/image/hl-bg.png');
    background-color: #ddd;
}

#products li a span.image img {
    height: 150px;
}

/* [Products > Data > Viewer] */
#product h2 {
    color: #999;
    font-size: 24px;
    text-transform: lowercase;
}

#product h2 span.static {
    display: block;
    font-weight: normal;
    font-size: 14px;
}

#product h2 span.for {
    color: #ccc;
}

#product h2 span.name {
    display: block;
    color: #fff;
    background-color: #ff9900;
    background-image: url('/image/hl-bg.png');
    padding: 2px 4px;
    text-transform: none;
}

#product .layout {
    margin-bottom: 20px;
}

#product .first-photo {
    float: left;
    overflow: hidden;
}

#product .first-photo img {
    width: 100%;
}

#product .vc {
    width: 336px;
    border: 2px solid #eee;
    padding: 5px;
    margin: 0;
}

#product .vc table {
    width: 100%;
}

#product .vc table th {
    text-align: left;
    border-bottom: 1px solid #eee;
    color: #999;
}

#product .vc ul {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: 5px 0 0 0;
    margin: 0;
}

#product .vc ul li {
    float: left;
    display: block;
    text-align: center;
    width: 72px;
    margin-right: 5px;
}

#product .vc ul li span {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid #000;
}

#product .vc ul li span img {
    height: 70px;
}

#product ul.photos {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    text-align: left;
    background-color: #eee;
}

#product ul.photos li {
    display: inline-block;
    margin: 0 5px 0 0;
}

#product ul.photos li a {
    padding: 0;
    margin: 0;
}

#product ul.photos li img {
    height: 150px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
}

/* [Product > Data > Viewer with JSE] */
#product.jse {}

#product.jse .photos {
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

#product.jse .all-photos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    background-image: url('/image/hl-bg.png');
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

#product.jse .all-photos .header {
    padding: 5px 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 50px;
    background-image: url('/image/header-logo.png');
    background-position: 10px 0px;
    background-repeat: no-repeat;
}

#product.jse .all-photos .header .inst {
    background-color: #000;
    color: white;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#product.jse .all-photos .header .inst strong {
    color: #ff9900;
}

#product.jse .all-photos .display {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 60px;
}

#product.jse .all-photos .display img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0 0 10px;
}

#product.jse .all-photos .thumbnails {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    white-space: nowrap;
    overflow: auto;
    padding: 5px;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0.5);
}

#product.jse .all-photos .thumbnails img {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    cursor: pointer;
    opacity: 0.5;
}

#product.jse .all-photos .thumbnails img.selected {
    border-color: #ff9900;
    opacity: 1.0;
}

/* [Product > Data > Viewer with no extra components] */
#product.no-extra {}

#product.no-extra ul.photos {
    margin-top: -15px;
    padding: 0;
    border: none;
    overflow: hidden;
    background: none;
}